<h1>{{route.snapshot.params['mode']}}</h1>
<h1>{{route.snapshot.params['id']}}</h1>
<form [formGroup]="form" class="form">
    <ng-container *ngFor="let component of dynamicComponents">
        <ng-container
                *ngComponentOutlet="component
                injector: dynamicInjector"

        ></ng-container>
    </ng-container>
    <button type="submit" mat-flat-button
            color="primary"
            [disabled]="bus.get('submitDisabled')?.value"
            (click)='submit()'>apply action</button>
    <div>
        {{form.value | json}}/{{bus.get('submitDisabled')?.value | json}}
    </div>
</form>
