<a color="primary" [routerLink]="['create']" mat-button>Create Entity</a>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 container">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <ng-container *ngFor="let component of dynamicComponents">
        <ng-container [matColumnDef]="component.columnDef">
            <th mat-header-cell *matHeaderCellDef>
                <ng-container
                        sharedCellContext
                        [holder]="this"
                        [descriptor]="component"
                        #headercontext="sharedCellContext">
                    <ng-container
                            *ngComponentOutlet="component.columnComponent
                        injector: headercontext.injector"
                    ></ng-container>

                </ng-container>
            </th>
            <td mat-cell *matCellDef="let element" >
                <ng-container
                        sharedCellContext
                        [holder]="this"
                        [element]="element"
                        [descriptor]="component"
                        #context="sharedCellContext">
                    <ng-container
                        *ngComponentOutlet="component.cellComponent
                        injector: context.injector"
                    ></ng-container>
                </ng-container>
            </td>
        </ng-container>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
