<div>
    <div class="header">
        <shared-header [appName]="'Donor'"></shared-header>
    </div>
    <div class="content">
        <div class="left-side">
            <shared-menu (navigate)="navigate($event)" [nodes]="configService.config.menu.nodes"></shared-menu>
        </div>
        <div class="right-side">
            <div class="card">
                <router-outlet></router-outlet>
                <mat-form-field style="width: 200px" class="example-full-width" appearance="outline">
                    <mat-label>Favorite food</mat-label>
                    <input color="primary" matInput placeholder="Ex. Pizza" value="Sushi">
                </mat-form-field>
            </div>
        </div>
    </div>
</div>
