<div class="feature">
    <h2>Recipient Feature1</h2>
    <div [formGroup]="form">
        <div formGroupName="field5">
            <div>
                <mat-form-field class="field" appearance="outline">
                    <mat-label>Field7</mat-label>
                    <input formControlName="field7" color="primary" matInput placeholder="Field7">
                    <mat-error *ngIf="form?.get('field5')?.get('field7')?.invalid">required</mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-checkbox formControlName="field8">action</mat-checkbox>
            </div>
        </div>
    </div>
</div>
